/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  /* Primary */
  /* main background */
  --Very-dark-blue: hsl(233, 47%, 7%);
  /* card background */
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  /* accent */
  --Soft-violet: hsl(277, 64%, 61%);

  /* Neutral */
  /* main heading, stats */
  --White: hsl(0, 0%, 100%);
  /* main paragraph */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* stat headings */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

/* Typography */
html {
 font-size: 93.75%; 
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Very-dark-blue);
}

.header-main {
  font-size: 2.25rem;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.accent-header {
  color: var(--Soft-violet);
}

.stats__header {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.paragraph {
  color: var(--Slightly-transparent-white);
  padding-right: 1rem;
  line-height: 1.6;
}

/* Main */
.card {
  background-color: var(--Dark-desaturated-blue);
  width: 77%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}

.card-content {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 4.5rem;
  margin-right: 1rem;
}

.card-image {
  max-width: 38rem;
  position: relative;
}

.card-image::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--Soft-violet);
  mix-blend-mode: multiply;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 4.4rem;
  padding-right: 3.7rem;
}

.stats__item {
  color: var(--Slightly-transparent-white);
}
.stats__item p {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* Media Queries */
/* Lower than Desktop */
@media only screen and (max-width: 1000px) {
  html {
    font-size: 81.25%; 
  }
  
  body {
    padding: 50px;
    text-align: center;
  }

  .header-main {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .paragraph {
   font-size: .8rem;
   padding-right: 0; 
  }

  .stats {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0;
  }

  .card {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 0 auto;
  }

  .card-content {
    order: 2;
    max-width: 100%;
    margin-right: 0;
  }

  .card-image {
    order: 1;
    max-width: 100%;
  }
}

@media only screen and (max-width: 660px) {
  html {
    font-size: 62.5%; 
  }
  
  body {
    padding: 10px; 
  }
  
  .card {
    width: 90%;
  }

  .card-content {
    padding: 3rem 3rem;
  }

  .header-main {
    font-size: 1.5rem;
  }

  .stats {
    flex-direction: column;
    min-height: 14rem;
  }
}


@media only screen and (max-width: 330px) {
  html {
    font-size: 62.5%; 
  }
  
  .card-content {
   padding: 1.5rem; 
  }
}
